<!DOCTYPE html>
<!--회원가입 페이지-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MOBUL 회원가입</title>
  <link rel="stylesheet" th:href="@{/css/auth.css}" />
</head>

<body>

<div class="center">
<!--  로고, 메인페이지로 이동 링크-->
  <a id="logoText" href="/">SAY SOMETHING</a>
  <div class="login-form-box">
<!--    회원가입 정보 받는 폼-->
    <form method="post" id="login-form">
      <div class="inputBox">
        <input type="text" name="userId" placeholder="User ID" pattern="[a-zA-Z0-9]+" title="영문자와 숫자만 포함" required/>
        <input type="password" name="userPassword" placeholder="Password" required/>
        <input
                type="password"
                name="userPasswordConfirm"
                placeholder="Confirm Password"
                required
        />
        <input type="text" name="userPhone" placeholder="Phone(숫자만 입력)"
               pattern="[0-9]+" title="숫자만 입력"/>
      </div>
<!--      회원가입 버튼-->
        <div class="btnBox">
            <p th:if="${errorMessage}" style="color: red; margin-left:10px;" th:text="${errorMessage}"></p>
            <p th:if="${passwordError}" style="color: red; margin-left:10px;" th:text="${passwordError}"></p>
            <button type="submit" class="btn-green">SignUp</button>
        </div>
    </form>

<div>
<!--    <div th:if="${errorMessage}">-->
<!--        <p style="color: red" th:text="${errorMessage}"></p>-->
<!--    </div>-->
<!--    <div th:if="${passwordError}">-->
<!--        <p style="color: blue" th:text="${passwordError}"></p>-->
<!--    </div>-->
</div>
<!--카카오 회원가입, 로그인페이지로 이동 버튼-->
    <div class="btnBox">
      <hr />
      <button  class="btn-kakao">SignUp with Kakao</button>
      <button class="btn-grey" onclick="window.location.href='/auth/signin'">Login</button>
    </div>
  </div>
</div>
</body>
</html>
