<!DOCTYPE html>
<!--로그인 페이지-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MOBUL 로그인</title>
  <link rel="stylesheet" th:href="@{/css/auth.css}" />
  <script th:src="@{/js/kakao.js}" defer></script>
</head>

<body>
<div class="center">
<!--  로고, 메인페이지로 이동 링크-->
  <a id="logoText" href="/">SAY SOMETHING</a>
  <div class="login-form-box">
<!--    로그인 폼-->
    <form method="post"  id="login-form">
      <div class="inputBox">
        <input type="text" name="userId" placeholder="User ID" required/>
        <input type="password" name="userPassword" placeholder="Password" required />
      </div>
<!--   로그인 폼 제출 버튼-->
      <div class="btnBox">
        <p th:if="${error}"  style="color: red; margin-left:10px;" th:text="${error}"></p>
        <button type="submit" class="btn-green">Login</button>
      </div>

    </form>

<!--    카카오로 로그인, 회원가입 페이지로 이동 버튼-->
    <div class="btnBox">
      <hr />
      <button class="btn-kakao">Login with Kakao</button>

      <button class="btn-grey" onclick="window.location.href='/auth/signup'">
        SignUp
      </button>

    </div>
  </div>
</div>

</body>
</html>
