<!DOCTYPE html>
<!--로그인 페이지-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MOBUL 로그인</title>
  <link rel="stylesheet" th:href="@{/css/auth.css}" />
</head>

<body>
<div class="center">
<!--  로고, 메인페이지로 이동 링크-->
  <a id="logoText" href="/">SAY SOMETHING</a>
  <div class="login-form-box">
<!--    로그인 폼-->
    <form method="post"  id="login-form">
      <div class="inputBox">
        <input type="text" name="userId" placeholder="User ID" required/>
        <input type="password" name="userPassword" placeholder="Password" required />
      </div>
<!--   로그인 폼 제출 버튼-->
      <div class="btnBox">
        <button type="submit" class="btn-green">Login</button>
      </div>
        <div th:if="${error}">
            <p style="color: red" th:text="${error}"></p>
        </div>

    </form>

<!--    카카오로 로그인, 회원가입 페이지로 이동 버튼-->
    <div class="btnBox">
      <hr />
      <button class="btn-kakao">Login with Kakao</button>
      <!-- 카카오 로그인 버튼 -->
      <form method="post" action="/kakao/code">
<!--        <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=f16a9a399cece2acaaf3110b8761e417&redirect_uri=http://localhost:9095/kakao/code&prompt=create" id="kakao-login-btn">-->
        <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=f16a9a399cece2acaaf3110b8761e417&redirect_uri=http://localhost:9095/kakao/code&response_type=code&prompt=login" id="kakao-login-btn">
        <img src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"/>
        </a>
      </form>


      <button class="btn-grey" onclick="window.location.href='/auth/signup'">
        SignUp
      </button>

    </div>
  </div>
</div>
</body>
</html>
