<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SAY SOMETHING</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/commentPage.css?after}">
    <script th:src="@{/js/delete.js}" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap}" rel="stylesheet">
</head>
<body>
<div id="wrap">
    <!-- 헤더 -->
    <div id="logo" class="clearfix">
        <p><a href="#">SAY SOMETHING</a></p>
    </div>
    <!-- 테이블 섹션 -->
    <div id="tableWrap">
        <input type="button" value="글 목록" id="listBtn" style="font-weight : bold ;onclick="location.href='/'">
        <div id="tableBox">
            <div class="titleArea">
                <p class="date">2023.04.11</p>
                <p class="title">여태 참아왔습니다. 개짖는 소리 좀 해결하십씨오</p>
                <div id="viewbox">
                    <p class="view">view</p>
                    <p class="viewCount">15656</p>
                </div>
            </div>
            <div id="mainText">
                <p>야~!~!~~!~~!~!! 개 짖는 소리 좀 안나게 해라!!!!!!!!!!!!!!!!!!!</p>
                <div id="hashArea">
                    <p>#개</p>
                </div>
            </div>
            <td>
                <input type="button" value="삭제" style="font-weight : bold ;">
                <!-- <input type="button" value="수정" style="font-weight : bold ;"> -->
            </td>
            </tr>
            </table>
        </div>

        <!-- 댓글 -->
        <div id="commentArea">
            <div class="comment">
                <p>댓글</p>
                <span class="commentNum">0</span>
            </div>
            <div class="likeBtn">
                <p>♡</p>
                <span class="likeNum">0</span>
            </div>
        </div>

        <ul id="comListWrap">

            <li class="comList">
                <div class="anonymousWrap">
                    <span class="anonymous">이상봉</span>
                    <button class="anonymousBtn delBtn" >삭제</button>
                </div>
                <p>맞읍니다. 요즘. 개 짖는 소리가. 너무 심하네요.</p>
                <div class="dateWrap">
                    <span class="comDate">04/10</span>
                    <span class="comTime">15:40</span>
                </div>
            </li>

            <li class="comList">
                <div class="anonymousWrap">
                    <span class="anonymous">진성록</span>
                    <button class="anonymousBtn delBtn" >삭제</button>
                </div>
                <p>인정따리 인정따.</p>
                <div class="dateWrap">
                    <span class="comDate">04/10</span>
                    <span class="comTime">15:40</span>
                </div>
            </li>

            <li class="comList">
                <div class="anonymousWrap">
                    <span class="anonymous">정보성</span>
                    <button class="anonymousBtn delBtn"  >삭제</button>
                </div>
                <p>2222</p>
                <div class="dateWrap">
                    <span class="comDate">04/10</span>
                    <span class="comTime">15:40</span>
                </div>
            </li>
        </ul>

        <div id="postComment">
            <textarea id="postArea" placeholder="댓글을 작성해 주세요 바르고 고운말을 사용합시다"style="overflow=hidden"></textarea>
            <button id="post">작성하기</button>
        </div>


    </div>



</div>

<!--푸터-->
<div class="footer centerContent">
    <p>@ create by MOBUL</p>
</div>
</div>



</div>

</body>
</html>