<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SAY SOMETHING</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/commentPage.css?after}">
    <script th:src="@{/js/comment.js}" defer></script>
    <script th:src="@{/js/reply.js}" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap}" rel="stylesheet">
</head>
<body>
<div id="wrap">
    <!-- 헤더 -->

    <div id="logo" class="clearfix">
        <p><a href="/">SAY SOMETHING</a></p>
    </div>

<!--    <input type="hidden" id="boardId" th:value="${boardsFormDTO.boardId}">-->

    <!-- 테이블 섹션 -->

    <div id="tableWrap">
        <input type="button" value="글 목록" id="listBtn" style="font-weight : bold ;" onclick="location.href='/'">
        <div id="tableBox">
            <div class="titleArea" >

                <p class="date" th:text="${boardsForm.boardDate}" ></p>
                <p class="title" th:text="${boardsForm.boardTitle}" ></p>
                <div id="viewbox">
                    <p class="view" >view</p>
                    <p class="viewCount" th:text="${boardsForm.boardView}" >0</p>
                </div>
            </div>
            <div id="mainText">
                <p th:text="${boardsForm.boardContent}">content</p>
                <div id="hashArea">
                    <p  th:text="${boardsForm.boardTag}"></p>
                </div>
            </div>
            <td>
<!--                 파일 목록 출력 및 버튼에 대한 동적 이벤트 처리-->

<!--                <ul class="fileListWrap">-->
<!--                    <span class="fileList">파일목록</span>-->
<!--                    &lt;!&ndash; 파일 목록 출력 &ndash;&gt;-->
<!--                    <li th:each="fileDTO : ${boardsForm.boardsFileDTOList}">-->
<!--                        <a th:href="${fileDTO.filePath}" target="_blank" th:text="${fileDTO.fileName}"></a>-->
<!--                    </li>-->
<!--                    <li th:each="fileDTO : ${boardsForm.boardsFileDTOList}">-->
<!--                        <img th:src="@{'/images/board/' + ${fileDTO.fileName}}" alt="사진" />-->
<!--                    </li>-->

<!--                    <li th:each="file : ${fileList}">-->
<!--                        <h3 th:text="${file.fileName}"></h3>-->
<!--                        <img th:src="@{'/image/' + ${file.filePath} + '/' + ${file.fileName}}" width="200" height="200" alt="Image">-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <span id="buttonWrap">-->

<!--                    <input type="button" value="삭제" style="font-weight : bold ;">-->
<!--                    <input type="button" value="수정" style="font-weight : bold ;">-->
<!--                </span>-->

<!--                <img th:src="@{/image/{fileId}(fileId=${boardsForm.boardsFileDTOList[0].fileId})}" alt="Image">-->


            </td>
        </div>

        <!-- 댓글 -->
        <div id="commentArea">
            <div class="comment">
                <p>댓글</p>
                <span class="commentNum">3</span>
            </div>
            <div class="likeBtn">
                <p>♡</p>
                <span class="likeNum" th:text="${boardsForm.boardTag}"></span>
            </div>
        </div>

        <ul id="comListWrap">

            <li class="comList">
                <div class="anonymousWrap">
                    <span class="anonymous">익명</span>
                    <button class="anonymousBtn" font-weight="bold">댓글달기</button>
                </div>
                <span class="itemText">ㅎㅇ</span>
                <div clss="dateWrap">
                    <span class="comDate">04/10</span>
                    <span class="comTime">15:40</span>
                </div>
            </li>

            <li class="comList">
                <div class="anonymousWrap">
                    <span class="anonymous">익명</span>
                    <button class="anonymousBtn" font-weight : bold >댓글달기</button>
                </div>
                <span class="itemText">인정따리 인정따.</span>
                <div class="dateWrap">
                    <span class="comDate">04/10</span>
                    <span class="comTime">15:40</span>
                </div>
            </li>

            <li class="comList">
                <div class="anonymousWrap">
                    <span class="anonymous">익명</span>
                    <button class="anonymousBtn" font-weight : bold ;>댓글달기</button>
                </div>
                <span class="itemText">2222</span>
                <div class="dateWrap">
                    <span class="comDate">04/10</span>
                    <span class="comTime">15:40</span>
                </div>
            </li>
        </ul>

        <div id="postComment">
            <textarea id="postArea" placeholder="댓글을 작성해 주세요 바르고 고운말을 사용합시다"style="overflow=hidden white-space: pre-wrap;" ></textarea>
            <button id="post">작성하기</button>
        </div>
    </div>
    <!--푸터-->
    <div class="footer centerContent">
        <p>@ create by MOBUL</p>
    </div>
</div>
</div>
</div>

<script>
$(document).ready(function() {
    // 이미지를 서버에서 가져와서 imageContainer에 추가
    var fileOriName = "/images/board/d95b084a-99c7-4c35-b1e8-bc4b8a91ed14.jpg"; // 파일의 원본 이름으로 수정해야 함
    $.get("/image/" + fileOriName, function(data) {  // 이미지 URL을 서버로 요청
        var img = $('<img />').attr({  // 이미지 요소 생성 및 속성 설정
            src: "data:/images/board/d95b084a-99c7-4c35-b1e8-bc4b8a91ed14.jpg;base64," + data,  // 이미지 데이터를 Base64로 변환하여 src에 설정
            width: 200,
            height: 200,
            alt: "Image"
        });
        $(".fileListWrap").append(img);  // 이미지를 imageContainer에 추가
    });
});
</script>
</body>
</html>