<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAY SOMETHING</title>
    <!-- css  -->

    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/writerPage.css}">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" crossorigin th:href="@{https://fonts.gstatic.com}">
    <link rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;family=Noto+Sans+KR:wght@100;300;400;500;700;900&amp;family=Noto+Serif+KR&amp;family=Playfair+Display:wght@400;500;600;700;800;900&amp;display=swap}">

    <script th:src="@{/js/write.js}" defer></script>
</head>
<body>
<div id="wrap">
    <!-- 헤더 -->
    <div id="logo" class="clearfix">
        <p><a >SAY SOMETHING</a></p>
    </div>


    <div class="testBox">


    <div class="rightBtnBox">
        <button class="btn-navy" onclick="window.location.href='/'">글 목록</button>
    </div>

    <form method="post" th:object="${boardsFormDTO}" enctype="multipart/form-data" id="formBox">   <!-- 혜영  -->
        <input type="hidden" th:field="*{boardId}" th:value="*{boardId}">

        <div>
            <input name="boardTitle" type="text" placeholder="제목을 입력하세요" th:field="*{boardTitle}" required>
        </div>

        <div>
            <textarea name="boardContent" placeholder="내용을 입력하세요" id="text"
                      th:field="*{boardContent}" required></textarea>

        </div>
        <div>
            <textarea name="boardTag" placeholder="#해시태그" id="hash" style="overflow:hidden"
                      th:field="*{boardTag}"></textarea>      <!--확인-->

        </div>


        <div th:if="${#lists.isEmpty(boardsFormDTO.boardsFileDTOList)}">
            <div th:each="num: ${#numbers.sequence(1,2)}">
                <div class="file-input-wrapper">
                    <input  type="file" class="custom-file-input" name="boardsFile">
                    <label  class="custom-file-label" th:text="파일선택 + ${num}"></label>


                </div>
            </div>
        </div>


        <div th:if="${not #lists.isEmpty(boardsFormDTO.boardsFileDTOList)}">
            <div th:each="boardsFileDTO, status: ${boardsFormDTO.boardsFileDTOList}">
                <div class="file-input-wrapper" >
                    <input type="file" class="custom-file-input" name="boardsFile" >
                    <input type="hidden" name="fileId" th:value="${boardsFileDTO.fileId}">

                    <label  class="custom-file-label" data-file-label="'파일' + ${status.index+1}"
                           th:text="${not #strings.isEmpty(boardsFileDTO.fileOriName)}
                                        ? ${boardsFileDTO.fileOriName} : '파일' + ${status.index+1}" >
                    </label>

                </div>
            </div>
        </div>


        <div th:if="${#strings.isEmpty(boardsFormDTO.boardId)}" class="rightBtnBox">
            <button th:formaction="@{/board/writer}" type="submit" class="btn-save">저장</button>
        </div>

        <div th:unless="${#strings.isEmpty(boardsFormDTO.boardId)}" class="rightBtnBox">
            <button th:formaction="@{'/board/writer/' + ${boardsFormDTO.boardId}}" type="submit"
                    class="btn-save">수정
            </button>
        </div>

    </form>
    <div class="footer centerContent">
        <p>@ create by MOBUL</p>
    </div>
</div>
</body>
</html>