@import url("reset.css");


input{
  font-family: 'S-CoreDream-3Light';
  cursor: pointer;
  color: #5E6790;
  font-weight: 500;
}

/* 등록, 글 목록 */
input[type="button"]{
  float: right;
  font-size: 13px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}


#tableBox{
  /* border: 1px solid #434343; */
  width: 100%;
  height: auto;
  border-radius: 15px;
  background-color: #FCFCFC;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
  padding-bottom:10px;
}

.titleArea{
  width: 100%;
  height: 48px;
  font-family: 'S-CoreDream-3Light';
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: #5E6790;
  color: var(--ivory);
}
.date{
  margin-left: 30px;
}

#viewbox{
  width: 150px;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.view{
  text-align: right;
}
.viewCount{
  text-align: right;

}

#mainText{
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
}
#mainContentBox{
min-height:150px;
width:100%;
}

#hashArea{
  width: 100%;
  margin-top:30px;
  color: #5E6790;
  font-size: 15px;
}

#commentArea{
  width: 100%;
  height:23px;
  margin: 27px 10px 20px 10px;
  font-weight: 600;
  color: #5E6790;
  display: flex;
  align-items: center;
}
.comment{
  display: flex;
  justify-content: left;
  margin-right: 18px;
}

.comment p {
  margin-right: 5px;
}


#comListWrap{
  width: 100%;
}
.comList{
  width: 100%;
  /* border: 1px solid #434343; */
  margin-bottom: 10px;
  padding: 8px 26px;
  box-sizing: border-box;
  color: #5E6790;
  display: flex;
  flex-direction: column;
  background-color: #FCFCFC;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.3);

}

.anonymous{
  margin-bottom: 5px;
}

.anonymousWrap{
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.anonymousBtn{
  background: inherit ;
  border:none;
  box-shadow:none;
  border-radius:0;
  padding:0;
  overflow:visible;
  cursor:pointer;
  color: #5E6790;
  font-weight: 400;
  font-family: 'S-CoreDream-3Light';
}

.comDate{
  margin-top: 5px;
  margin-right: 10px;
}
.comDate,.comTime{
  font-size: 12px;
}

#postComment{
  width: 100%;
  height: auto;
  /* border: 1px solid #434343; */
  box-sizing: border-box;
  margin-top: 50px;
  background-color: #FCFCFC;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-between;
}

input[type="text"]{
  width: 100%;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0);
}


textarea{
  display: block;
  width: 1030px;
  height: auto;
  resize: none;
  border: none;
  border-radius: 0;
  background-color: rgba(0,0,0,0);
  padding: 10px 26px;
  box-sizing: border-box;
}
textarea:focus{
  outline: none;
}
textarea::-webkit-scrollbar{
  width: 10px;
}

textarea::-webkit-scrollbar-thumb{
  background-color:  #5E6790;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

#post{
  width: 100px;
  background: inherit ;
  border:none;
  box-shadow:none;
  border-radius:0;
  padding:0;
  overflow:visible;
  cursor:pointer;
  color:white;
  font-weight: 400;
  font-family: 'S-CoreDream-3Light';
  background-color: #5E6790;
  transition: background-color 0.3s ease;
}

#post:hover{
  background-color: #32374d;
}

.replyPost{
  width: 100px;
  height:57.333px ;
  background: inherit ;
  border:none;
  box-shadow:none;
  border-radius:0;
  padding:0;
  overflow:visible;
  cursor:pointer;
  color:white;
  font-weight: 400;
  font-family: 'S-CoreDream-3Light';
  background-color: #5E6790;
  transition: background-color 0.3s ease;
}

#replyWrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.reply-submit, .reply-cancel{
  width: 80px;
  height:50px ;
  background: inherit ;
  border:none;
  box-shadow:none;
  border-radius:0;
  padding:0;
  overflow:visible;
  cursor:pointer;
  color:#5E6790;
  font-weight: 400;
  font-family: 'S-CoreDream-3Light';
  transition: background-color 0.3s ease;
}
.reply-cancel:hover, .reply-submit:hover{
  background-color: #5E6790;
  color: white;
}
.reply-submit{
  margin-right: 10px;
}

.button-wrap{
  display: flex;
  justify-content: flex-start;
}
#reply-form-null{
  height: auto;
}

.footer{
  width:100%;
  height:100px;
  background-color:#047D5A;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:300px;

}

/**/
#likeBtnArea{
display:flex;
}

.likeBtn{
background-color:transparent;
border:1px solid transparent;
cursor:pointer;
border-radius:3px;
box-sizing: border-box;
font-family: "S-CoreDream-3Light";
font-weight: 600;
color: var(--navy);
font-size:16px;
padding:3px;
}
.likeBtn:hover{
background-color:rgba(95,103,144,0.3);


}

.icon{
width:20px;
height:20px;}





.btn-navy {
  background-color: transparent;
  color: var(--navy);
  font-size: 16px;
  border: none;
  padding: 7px 20px;
  margin: 10px 0;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 100px;
  transition: 0.3s;
  float:right;
  font-weight:600;

}
.btn-navy:hover {
  border: 2px solid var(--navy);
  background-color: transparent;
  color: var(--navy);
}


.btn-form{
padding: 10px 25px;
display:flex;
justify-content: flex-end;
}

.btn-modify{
margin-left:10px;
color:var(--navy);
padding : 5px 10px;
border-radius:5px;
}
.btn-modify:hover{
font-weight: bold;

background-color:rgba(94,103,144,0.2);
}
