/* css 초기화 */

@font-face {

  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");

  font-weight: normal;
  font-style: normal;
}

:root {
  --ivory: #f9f8f6;
  --green: #047d5a;
  --navy: #5e6790;
  --yellow: #feed55;
  --white: #fcfcfc;
  --darkgrey: #434343;
  --lightgrey: #b9b9b9;

  --botteom-border: #707070;
  --kakao-yellow: #fee500;
  --table-hover: #edeae3;
}

body {
  font-family: "S-CoreDream-3Light";
  width: 100%;
  background-color: #f9f8f6;
  /* height: 100vh; */
}

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
ul,li,ol{list-style: none;}

/* input 기본 스타일 초기화 */
input {
  outline-style: none; /*크롬 브라우져 input 주황색 테두리 없애는법*/
  border-radius: 0px 0px; /* 아이폰의 input 라운드 초기화 */
  -webkit-appearance: none; /* form 요소의 디바이스 기반 스타일 초기화 */
  border: 0;
  font-size: 16px;
  font-family: "S-CoreDream-3Light";
}
button,
select,
option,textarea {
  font-family: "S-CoreDream-3Light";
}
input[type="button"] {
  background-color: transparent;
}

/* 공통 */
/* 전체배경 */
#wrap{
  width: 100%;
  height: auto;
  background-color: #F9F8F6;
}

/* 테이블 섹션 */
#tableWrap{
  max-width: 1130px;
  height: auto;
  margin: 0 auto;
}

#tableBox{
  width: 100%;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
}

/*붙*/
/* 로고 겉 껍데기 */
#logo{
  width: 100%;
  height: auto;
  padding-top: 70px;
  display: flex;
  justify-content: center;
}
/* 로고 폰트 */
#logo p a {
  color:#047D5A;
  font-weight: 700;
  font-size:70px;
  font-family: 'Noto Sans KR', sans-serif;
}


/* 글목록,작성 버튼 폰트 */
input{
  font-family: 'S-CoreDream-3Light';
  cursor: pointer;
  color: #5E6790;
  font-weight: 500;
}

body::-webkit-scrollbar{
  width: 10px;
}

body::-webkit-scrollbar-thumb{
  background-color:  #5E6790;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.footer {

  height: 100px;
  color: var(--ivory);
  background-color: var(--green);
  margin-top: 20px;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightBtnBox{
display:flex;
justify-content: flex-end;
max-width:1100px;
padding:0 10px;
margin:0 auto;
height: auto;
margin-top:20px;
}