
Content-Type: text/html; charset=utf-8

/* 글목록,작성 버튼 폰트 */
input{
  font-family: 'S-CoreDream-3Light';
  cursor: pointer;
  color: #5E6790;
  font-weight: 500;
}
/* 겉 실선 */
#tableBox{
  border: 1px solid #434343;
  width: 100%;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
}

/* 제목 */
input[type="text"]{
  width: 1100px;
  padding: 10px 10px;
  margin:15px 15px;
  box-sizing: border-box;
  border: 1px solid #dddddd;

}
/* 본문,댓글 작성 */
textarea{
  display: block;
  height: auto;
  width: 1100px;
  padding: 5px 5px;
  margin:0 15px;
  box-sizing: border-box;
  resize: none;
  border: none;
  border-radius: 0;
  border: 1px solid #dddddd;
}
textarea:focus{
  outline: none;
}
/* 등록, 글 목록 */
input[type="button"]{
  float: right;
  font-size: 13px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;

}
/* 해시태그 */
#hash{
  margin:15px 15px;
  height: 30px;
}
/* 본문 작성 높이값 */
#text{
  height: 300px;
}

/* 업로드 버튼 */
#upload{
  font-family: 'S-CoreDream-3Light';
  cursor: pointer;
  color: #5E6790;
  font-weight: 500;
  margin-left: 15px;
}



/* label 태그의 스타일 */
.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #5E6790;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 15px;
}

.custom-file-upload:hover {
  background-color: #32374d;
}

#fileName{
  display: inline;
}

/* input 태그의 스타일 (숨김) */
input[type="file"] {
  display: none;
}