<!--메인 페이지(첫 화면)-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Say Something</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script th:src="@{/js/main.js}" defer></script>
</head>
<!--<body style="overflow-y: hidden">-->
<body>
<!--로고, 로그인, 회원가입 링크-->
<div class="header">
    <div class="rightBox" style="max-width: 1200px; margin: 0 auto;">
        <div id="signBox">
            <div th:if="${session.userId}">
                <span th:if="${session.isAdmin}" th:text="관리자" style="font-weight:600; color:#047d5a;"></span>
                <span th:unless="${session.isAdmin}" id="loginUser" style="font-weight:600; color:#5e6790;" th:text="${session.userId + ' 님'}"></span>
                <a th:href="@{/auth/logout}">로그아웃</a>
            </div>
            <div th:unless="${session.userId}">
                <a th:href="@{/auth/signin}">로그인</a>
                <a th:href="@{/auth/signup}">회원가입</a>
            </div>

        </div>
    </div>
    <div>
        <a href="/">
        <p id="logoTitle">SAY SOMETHINGS</p></a>
    </div>
</div>

<!--boards 목록 출력-->
<div class="container" style="margin:0px auto 100px auto">
    <!-- 검색창, 글쓰기 버튼-->
    <div class="searchBox betweenBox">
        <form th:action="@{/}" method="get">
            <select name="category" id="searchCategory">
                <option name="title" value="title" selected>제목</option>
                <option name="content" value="content">내용</option>
                <option name="hashtag" value="hashtag">해시태그</option>
            </select>
            <input type="search" name="searchTitle" id="searchKeyword" placeholder="검색어를 입력하세요" value=""/>
            <button type="button" id="resetButton" onclick="resetSearch()"  >
                <img class="icon2" src="/images/undo.png" alt="reset"/>
            </button>
        </form>
        <button  th:if="${session.userId}" class="btn-navy" onclick="window.location.href='/board/writer'">글 작성하기</button>
    </div>

    <div class="tableBox">
        <table class="table-style">
            <tr class="table-header">
                <th style="width:50px;">번호 <a th:href="@{/(sort='boardId')}">정렬</a></th>
                <th>제목 <a th:href="@{/(sort='boardTitle')}">정렬</a></th>
                <th th:if="${session.isAdmin}"  style="width:100px;">작성자</th>
                <th style="width:100px;">날짜 <a th:href="@{/(sort='boardDate')}">정렬</a></th>
                <th style="width:50px;">조회수 <a th:href="@{/(sort='boardView')}">정렬</a></th>
            </tr>
            <th:block th:if="${list == null or list.isEmpty()}">
                <tr>
                    <td colspan="4">등록된 게시글이 없습니다.</td>
                </tr>
            </th:block>

            <tr th:each="board:${list}">
                <td th:text="${board.boardId}"></td>
                <td><a th:text="${board.boardTitle}" th:href="@{/board/comment/{boardId}(boardId=${board.boardId})}"
                        style="text-align:left; display:block;"></a></td>
                <td th:if="${session.isAdmin}" th:text="${board.boardWriter.getUserId()}"> </td>
                <td th:text="${#temporals.format(board.boardDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${board.boardView}+' view'"></td>
            </tr>

        </table>
    </div>

    <div class="page centerContent" style="margin-top:30px" th:unless="${startPage}==null or ${startPage}==null">
        <li class="page-item">
            <a class="page-link"
               th:href="@{/(page=${nowPage > 5 ? nowPage-5 : 0}, searchTitle=${param.searchTitle},searchContent=${param.searchContent}, searchHashtag=${param.searchHashtag})}">&laquo;</a>
        </li>

        <th:block th:each="page:${#numbers.sequence(startPage,endPage)}" class="page-item">
            <li>
                <a class="page-link" th:if="${page != nowPage and page>0}"
                   th:href="@{/(page=${page-1}, searchTitle=${param.searchTitle},searchContent=${param.searchContent}, searchHashtag=${param.searchHashtag})}"
                   th:text="${page}"></a>
                <strong class="page-link" th:if="${page==nowPage}" th:text="${page}"
                        style="color:var(--green); border:2px solid var(--green);"></strong>
            </li>
        </th:block>

        <li class="page-item">
            <a class="page-link"
               th:href="@{/(page=${nowPage < endPage - 5 ? nowPage+5 : endPage-1}, searchTitle=${param.searchTitle},searchContent=${param.searchContent}, searchHashtag=${param.searchHashtag})}">&raquo;</a>
        </li>
    </div>
</div>


<!--푸터-->
<div class="footer centerContent">
    <p>@ create by MOBUL</p>
</div>
</body>
</html>
